<launch>
     <arg name="dev" default="/dev/input/js0"/>
    <node pkg="rover_teleoperation" type="drive_teleoperation.py" name="drive_teleoperation_joy" output="screen" respawn="true" />
    <node pkg="joy" type="joy_node" name="drive_joy_node" clear_params="true" output="screen" respawn="true" >
      <param name="dev" value="$(arg dev)" />
      <param name="deadzone" value="0.12" />
    </node>
</launch>
