<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

    <!-- Microcontroller Device Argument -->
    <arg name="serial_dev" default="/dev/ttyACM0"/>

    <node pkg="simple_drive" type="simple_drive" name="simple_drive" clear_params="true" output="screen" respawn="true">
      <param name="serial_dev" value="$(arg serial_dev)" />
      <param name="baudrate" type="int" value="9600"/>
      <!-- INPUT TOPICS -->
      <remap from="cmd_vel" to="cmd_vel" />
      <remap from="servo_pos" to="servo_pos" />
    </node>
</launch>
